name: Build

on:
  workflow_call:
    inputs:
      rust_toolchain:
        required: true
        type: string
      rust_features:
        required: false
        type: string
        default: --all-features
      with_rustfmt:
        required: false
        type: boolean
        default: false
      with_audit:
        required: false
        type: boolean
        default: false
      with_clippy:
        required: false
        type: boolean
        default: false
      with_doc:
        required: false
        type: boolean
        default: false
      pre_build_script:
        required: false
        type: string

env:
  CARGO_TERM_COLOR: always

jobs:

  build:

    name: Rust ${{ inputs.rust_toolchain }} ${{ inputs.rust_features }}

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ inputs.rust_toolchain }}
          components: rustfmt, clippy

      - id: quickinstall
        name: Install cargo-quickinstall
        if: ${{ inputs.with_audit }}
        run: |
          cargo install cargo-quickinstall

      - id: disable-man-db-updates
        name: Disable man-db updates
        run: |
          echo "set man-db/auto-update false" | sudo debconf-communicate
          sudo dpkg-reconfigure man-db

      - id: install-capnproto
        name: Install capnproto
        run: sudo apt-get install -y capnproto

      - id: install-wasm-pack
        name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | bash

      - id: pre_build_script
        name: Pre build script
        if: ${{ inputs.pre_build_script }}
        run: ${{ inputs.pre_build_script }}

      - id: rustfmt
        name: Rust format
        if: ${{ inputs.with_rustfmt }}
        run: |
          cargo fmt --verbose --all -- --check
          echo "Rustfmt OK" >> "$GITHUB_STEP_SUMMARY"

      - id: audit
        name: Audit
        if: ${{ inputs.with_audit }}
        run: |
          cargo quickinstall cargo-audit
          cargo audit
          echo "Audit OK" >> "$GITHUB_STEP_SUMMARY"

      - id: clippy
        name: Clippy
        if: ${{ inputs.with_clippy }}
        run: |
          cargo clippy --all ${{ inputs.rust_features }} --all-targets -- -D warnings
          echo "Clippy OK" >> "$GITHUB_STEP_SUMMARY"

      - id: prepare-tests
        name: Prepare tests
        run: |
          ./scripts/init_tests.sh

      - id: test
        name: Compile and run tests
        run: cargo test ${{ inputs.rust_features }} --verbose

      - id: test-threads
        name: Run threads tests (stable only)
        if: ${{ inputs.rust_toolchain == 'stable' }}
        run: |
          RUSTC_BOOTSTRAP=1 RUSTDOCFLAGS="-Z unstable-options --output-format json" cargo doc -p quirky_binder_tests --no-deps --all-features --document-private-items
          cd tests/quirky_binder_tests_threads && cargo test -p quirky_binder_tests_threads --all-features

      - id: doc
        name: Doc
        if: ${{ inputs.with_doc }}
        run: |
          RUSTDOCFLAGS="-D warnings" cargo doc ${{ inputs.rust_features }} --no-deps
          echo "Doc OK" >> "$GITHUB_STEP_SUMMARY"

      - id: recipes
        name: Compile and run recipes
        run: |
          cd recipes
          cargo build ${{ inputs.rust_features }} --verbose

      - id: wasm-build
        name: Compile WASM modules
        run: cd codegen/quirky_binder_codegen_wasm && wasm-pack build

